@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-500'),
    url('../fonts/MuseoModerno-500.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-300'),
    url('../fonts/MuseoModerno-300.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Moderno';
    src: local('MuseoModerno-700'),
    url('../fonts/MuseoModerno-700.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
}